/* Start of General Attributes */
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: black;
	letter-spacing: .1rem;
	color: white;
}
/* End of General Attributes */

/* Start of NavBar */
.menuContainer {
	padding-left: 0px;
	display: block;
    text-align: right;
	width: 1170px;
}
.menuLinks {
	list-style-type: none;
	padding: 15px;
	margin: 0px;
}
.menuLinks li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 900;
	font-size: 17px;
}

.menuLinks li a{
    text-decoration: none;
	color: white;
}
/* End of NavBar */

/* Start of HomePage */
.homePage {
    margin: auto;
	width: max-content;
	background-color: black;
}
.mainContent {
	height: 600px;
	width: 1170px;
    background-image: url(miguelBackgroundBlack.jpeg);
	padding-left: 40px;
}
.leftSideContent {
	width: 450px;
	padding-top: 16%;
	margin-left: 5rem;
}
#firstSent {
	color: white;
	font-weight: 700;
	font-size: 24px;
	padding-bottom: 17px;
	font-family: 'Secular One', sans-serif;
}
#descriptionOne {
	color: white;
	font-weight: 550;
	font-size: 18px;
	padding-bottom: 17px;
}
#descriptionTwo {
	color: white;
	font-size: 15px;
}
.copyRightSection {
	height: 70px;
	text-align: center;
	align-content: center;
	padding-top: 55px;
	font-size: 12px;
}
/* End of Home Page */

/* Start of Contact Page Attributes */
.aboutContent {
	padding-top: 50px;
	width: 1170px;
	margin: auto;
}
/* End of Contact Page Attributes */